body{
  background-color: Burlywood; 
  color: #00008B;
  margin: 2rem; 
  font-family: 'Protest Strike', sans-serif;
}
/*Rainbow*/
.surf {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f3c4.png) 36 36, auto;
}/*Rainbow*/
.beach {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/1f3d6.png) 36 36, auto;
}/*Rainbow*/
.sun {
  cursor: url(https://abs.twimg.com/emoji/v2/72x72/2600.png) 36 36, auto;
}

section{
  display: flex;
  padding: 2rem;
}
figure{
  display: flex;
  align-self: flex-start;
  position: sticky;
  top: 1rem; 
}
img{
  width: 480px;
}
div{
position:relative;
  animation: positionchange 5s infinite;
}

@keyframes positionchange{
  0%{left:0px;top:0px;}
  50%{left:200px;top:50px;}
  100%{left:0px;top:0px;}
}
button{
  background-color:red;
  color:white;
  padding:20px; 
  font-family: 'Protest Strike', sans-serif;
}